body {
    background-color: #fafafa;
    img {
        max-width: 100%;
    }
    .price_box {
        padding: 10px 0;
        font-size: 20px;
    }
    .product-box {
        padding: 15px 5px;
    }
    nav.navbar {
        margin-bottom: 20px !important;
    }
    .bg-light {
        background-color: #e8e8e8!important;
    }
}